@import url("reset.css");




body {
	background-color: #222222;

}


.title {

	
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}

h1, h2, h3, h4, h5, em {
	text-align: left;
	font-family: 'Seymour One', sans-serif;
	color: #999999;
	margin-top: 16px;
	margin-bottom: 10px;

}

h1 {
	font-size: 30px;
}


.nav {
	position: relative;
	float: right;
	padding-right: 20px;

}


ul {
	
	text-decoration: none;
	margin-top: 20px;
}


li {
		
	font-size: 14px;
	display: inline;
	font-family: Verdana;
	padding: 5px;
	background-color: #222222;
	/*margin-left: 8px;
	border: 3px;
	border-radius: 14%;
	border-color: #a4dba3;
	border-style: solid;*/

}

a {
	color: #999999;
	font-weight: bold;
}

a:link {
	text-decoration: none;
}

li:hover {
	background-color: #555555;
}

footer > p {
	font-family: Verdana;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}


